datasets
fastapi
langchain-chroma
langchain-community
langchain-openai
langgraph
langsmith
lark
networkx
openpyxl
pandas
pypdf
python-docx
python-multipart
streamlit
unstructured
unstructured-inference
uvicorn[standard]
